USE master
CREATE DATABASE ActurusBook2
USE ActurusBook2
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[book_id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](200) NOT NULL,
	[description] [nvarchar](max) NULL,
	[price] [decimal](10, 2) NOT NULL,
	[stock] [int] NOT NULL,
	[sold] [int] NOT NULL,
	[category] [nvarchar](50) NULL,
	[image_url] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[book_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 8/16/2025 12:18:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[cart_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[book_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cart_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category]    Script Date: 8/16/2025 12:18:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten] [nvarchar](255) NOT NULL,
	[parent_id] [int] NULL,
	[description] [ntext] NULL,
	[folder_path] [nvarchar](500) NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discounts]    Script Date: 8/16/2025 12:18:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discounts](
	[discount_id] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](50) NOT NULL,
	[value] [decimal](5, 2) NOT NULL,
	[expiry_date] [datetime] NOT NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[discount_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 8/16/2025 12:18:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[employee_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[role] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 8/16/2025 12:18:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[notification_id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](200) NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[sent_date] [datetime] NOT NULL,
	[recipient] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[notification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Details]    Script Date: 8/16/2025 12:18:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Details](
	[order_detail_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[book_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[order_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 8/16/2025 12:18:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[book_id] [int] NOT NULL,
	[book_title] [nvarchar](255) NOT NULL,
	[quantity] [int] NOT NULL,
	[price] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 8/16/2025 12:18:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[order_date] [datetime] NOT NULL,
	[total_amount] [decimal](10, 2) NOT NULL,
	[phone] [nvarchar](15) NOT NULL,
	[address] [nvarchar](200) NOT NULL,
	[payment_method] [nvarchar](50) NOT NULL,
	[status] [nvarchar](50) NOT NULL,
	[proof_image] [nvarchar](200) NULL,
	[discount_code] [nvarchar](50) NULL,
	[subtotal] [decimal](10, 2) NULL,
	[discount_amount] [decimal](10, 2) NULL,
	[discount_percentage] [float] NULL,
	[shipping_fee] [decimal](10, 2) NULL,
	[shipping_method] [nvarchar](50) NULL,
	[invoice_number] [nvarchar](20) NULL,
	[payment_status] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phieu_nhap]    Script Date: 8/16/2025 12:18:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phieu_nhap](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ma_phieu_nhap] [nvarchar](50) NULL,
	[ngay_nhap] [datetime] NULL,
	[nha_cung_cap] [nvarchar](100) NULL,
	[tong_tien] [decimal](10, 2) NULL,
	[ghi_chu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phieu_nhap_chi_tiet]    Script Date: 8/16/2025 12:18:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phieu_nhap_chi_tiet](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_phieu_nhap] [int] NOT NULL,
	[ten_san_pham] [nvarchar](255) NOT NULL,
	[so_luong] [int] NOT NULL,
	[gia_nhap] [decimal](10, 2) NOT NULL,
	[ngay_san_xuat] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 8/16/2025 12:18:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[review_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[book_id] [int] NOT NULL,
	[rating] [int] NOT NULL,
	[comment] [nvarchar](max) NULL,
	[created_date] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[review_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Saw_Book]    Script Date: 8/16/2025 12:18:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Saw_Book](
	[saw_book_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[book_id] [int] NOT NULL,
	[viewed_date] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[saw_book_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Addresses]    Script Date: 8/16/2025 12:18:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Addresses](
	[address_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[full_name] [nvarchar](255) NOT NULL,
	[phone] [nvarchar](20) NOT NULL,
	[province_code] [nvarchar](10) NOT NULL,
	[province_name] [nvarchar](255) NOT NULL,
	[ward_code] [nvarchar](10) NOT NULL,
	[ward_name] [nvarchar](255) NOT NULL,
	[street_address] [nvarchar](500) NOT NULL,
	[is_default] [bit] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[address_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/16/2025 12:18:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[password] [nvarchar](100) NOT NULL,
	[full_name] [nvarchar](100) NULL,
	[phone] [nvarchar](15) NULL,
	[address] [nvarchar](200) NULL,
	[role] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wish_List]    Script Date: 8/16/2025 12:18:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wish_List](
	[wish_list_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[book_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[wish_list_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wishlist]    Script Date: 8/16/2025 12:18:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wishlist](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[book_id] [int] NOT NULL,
	[added_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Books] ON 

INSERT [dbo].[Books] ([book_id], [title], [description], [price], [stock], [sold], [category], [image_url]) VALUES (1, N'Tắt Đèn 1', N'Tác phẩm nổi tiếng của Ngô Tất Tố', CAST(75000.00 AS Decimal(10, 2)), 37, 0, N'Văn học', N'/img/new-book1.png')
INSERT [dbo].[Books] ([book_id], [title], [description], [price], [stock], [sold], [category], [image_url]) VALUES (2, N'Thơ Tố Hữu', N'Tuyển tập thơ của Tố Hữu', CAST(65000.00 AS Decimal(10, 2)), 40, 0, N'Thơ', N'/img/new-book2.png')
INSERT [dbo].[Books] ([book_id], [title], [description], [price], [stock], [sold], [category], [image_url]) VALUES (3, N'Hà Nội 36 phố phường', N'Tác phẩm của Thạch Lam về Hà Nội xưa', CAST(90000.00 AS Decimal(10, 2)), 30, 0, N'Văn học', N'/img/new-book3.png')
SET IDENTITY_INSERT [dbo].[Books] OFF
GO
SET IDENTITY_INSERT [dbo].[category] ON 

INSERT [dbo].[category] ([id], [ten], [parent_id], [description], [folder_path], [is_active]) VALUES (2, N'Văn học', NULL, NULL, NULL, 1)
INSERT [dbo].[category] ([id], [ten], [parent_id], [description], [folder_path], [is_active]) VALUES (3, N'Anime', NULL, NULL, NULL, 1)
INSERT [dbo].[category] ([id], [ten], [parent_id], [description], [folder_path], [is_active]) VALUES (4, N'Kinh tế', NULL, N'Sách về kinh tế và kinh doanh', N'/books/kinh-te', 1)
SET IDENTITY_INSERT [dbo].[category] OFF
GO
SET IDENTITY_INSERT [dbo].[Discounts] ON 

INSERT [dbo].[Discounts] ([discount_id], [code], [value], [expiry_date], [is_active]) VALUES (1, N'WELCOME10', CAST(10.00 AS Decimal(5, 2)), CAST(N'2025-12-31T23:59:59.000' AS DateTime), 1)
INSERT [dbo].[Discounts] ([discount_id], [code], [value], [expiry_date], [is_active]) VALUES (2, N'SAVE20', CAST(20.00 AS Decimal(5, 2)), CAST(N'2025-12-31T23:59:59.000' AS DateTime), 1)
INSERT [dbo].[Discounts] ([discount_id], [code], [value], [expiry_date], [is_active]) VALUES (3, N'VIP30', CAST(30.00 AS Decimal(5, 2)), CAST(N'2025-12-31T23:59:59.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Discounts] OFF
GO
SET IDENTITY_INSERT [dbo].[Order_Details] ON 

INSERT [dbo].[Order_Details] ([order_detail_id], [order_id], [book_id], [quantity], [price]) VALUES (1, 4, 8, 1, CAST(90000.00 AS Decimal(10, 2)))
INSERT [dbo].[Order_Details] ([order_detail_id], [order_id], [book_id], [quantity], [price]) VALUES (2, 5, 8, 1, CAST(90000.00 AS Decimal(10, 2)))
INSERT [dbo].[Order_Details] ([order_detail_id], [order_id], [book_id], [quantity], [price]) VALUES (3, 6, 7, 2, CAST(89000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Order_Details] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([order_id], [user_id], [order_date], [total_amount], [phone], [address], [payment_method], [status], [proof_image], [discount_code], [subtotal], [discount_amount], [discount_percentage], [shipping_fee], [shipping_method], [invoice_number], [payment_status]) VALUES (1, 3, CAST(N'2025-08-11T01:52:40.483' AS DateTime), CAST(90000.00 AS Decimal(10, 2)), N'0325765504', N'Thôn Ải', N'momo', N'Đã thanh toán', NULL, N'', CAST(90000.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), 0, CAST(0.00 AS Decimal(10, 2)), N'TiÃªu chuáº©n', N'INV202508130001', N'Chua thanh toán')
INSERT [dbo].[Orders] ([order_id], [user_id], [order_date], [total_amount], [phone], [address], [payment_method], [status], [proof_image], [discount_code], [subtotal], [discount_amount], [discount_percentage], [shipping_fee], [shipping_method], [invoice_number], [payment_status]) VALUES (2, 3, CAST(N'2025-08-11T01:53:10.133' AS DateTime), CAST(90000.00 AS Decimal(10, 2)), N'0325765504', N'Thôn Ải', N'momo', N'Chờ xác nhận', NULL, N'', CAST(90000.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), 0, CAST(0.00 AS Decimal(10, 2)), N'TiÃªu chuáº©n', N'INV202508130002', N'Chua thanh toán')
INSERT [dbo].[Orders] ([order_id], [user_id], [order_date], [total_amount], [phone], [address], [payment_method], [status], [proof_image], [discount_code], [subtotal], [discount_amount], [discount_percentage], [shipping_fee], [shipping_method], [invoice_number], [payment_status]) VALUES (3, 3, CAST(N'2025-08-11T01:53:17.670' AS DateTime), CAST(90000.00 AS Decimal(10, 2)), N'0325765504', N'Thôn Ải', N'cod', N'Chờ xác nhận', NULL, N'', CAST(90000.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), 0, CAST(0.00 AS Decimal(10, 2)), N'TiÃªu chuáº©n', N'INV202508130003', N'Chua thanh toán')
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[User_Addresses] ON 

INSERT [dbo].[User_Addresses] ([address_id], [user_id], [full_name], [phone], [province_code], [province_name], [ward_code], [ward_name], [street_address], [is_default], [created_at], [updated_at]) VALUES (1, 4, N'hehe', N'0123456789', N'24', N'Bắc Ninh', N'07351', N'Xã Ngọc Thiện', N'Thôn Ải', 0, CAST(N'2025-08-13T21:49:12.4366667' AS DateTime2), CAST(N'2025-08-13T21:49:12.4366667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[User_Addresses] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([user_id], [username], [email], [password], [full_name], [phone], [address], [role]) VALUES (1, N'Huy', N'admin@example.com', N'123456', N'Huy Admin', N'0123456789', N'Hà Nội', N'admin')
INSERT [dbo].[Users] ([user_id], [username], [email], [password], [full_name], [phone], [address], [role]) VALUES (2, N'admin', N'admin@bookstore.com', N'admin123', N'Administrator', N'0123456789', N'Admin Office', N'admin')
INSERT [dbo].[Users] ([user_id], [username], [email], [password], [full_name], [phone], [address], [role]) VALUES (3, N'user', N'ads.hnq@gmail.com', N'123456', N'Nguyễn Huy', N'0325765504', N'HUHU', N'customer')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Wishlist] ON 

INSERT [dbo].[Wishlist] ([id], [user_id], [book_id], [added_date]) VALUES (1, 4, 7, CAST(N'2025-08-11T02:34:23.530' AS DateTime))
INSERT [dbo].[Wishlist] ([id], [user_id], [book_id], [added_date]) VALUES (2, 3, 8, CAST(N'2025-08-11T17:38:28.130' AS DateTime))
INSERT [dbo].[Wishlist] ([id], [user_id], [book_id], [added_date]) VALUES (3, 3, 7, CAST(N'2025-08-11T22:46:20.027' AS DateTime))
SET IDENTITY_INSERT [dbo].[Wishlist] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Discount__357D4CF948442F57]    Script Date: 8/16/2025 12:18:17 AM ******/
ALTER TABLE [dbo].[Discounts] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__AB6E6164E8754775]    Script Date: 8/16/2025 12:18:17 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Wishlist__BD2EE6A030DA8D4B]    Script Date: 8/16/2025 12:18:17 AM ******/
ALTER TABLE [dbo].[Wishlist] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[book_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Books] ADD  DEFAULT ((0)) FOR [sold]
GO
ALTER TABLE [dbo].[Cart] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[category] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Discounts] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [sent_date]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [order_date]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (N'processing') FOR [status]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('Chua thanh toán') FOR [payment_status]
GO
ALTER TABLE [dbo].[phieu_nhap] ADD  DEFAULT (getdate()) FOR [ngay_nhap]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[Saw_Book] ADD  DEFAULT (getdate()) FOR [viewed_date]
GO
ALTER TABLE [dbo].[User_Addresses] ADD  DEFAULT ((0)) FOR [is_default]
GO
ALTER TABLE [dbo].[User_Addresses] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[User_Addresses] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (N'customer') FOR [role]
GO
ALTER TABLE [dbo].[Wishlist] ADD  DEFAULT (getdate()) FOR [added_date]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD FOREIGN KEY([book_id])
REFERENCES [dbo].[Books] ([book_id])
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[category]  WITH CHECK ADD FOREIGN KEY([parent_id])
REFERENCES [dbo].[category] ([id])
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Order_Details]  WITH CHECK ADD FOREIGN KEY([book_id])
REFERENCES [dbo].[Books] ([book_id])
GO
ALTER TABLE [dbo].[Order_Details]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[Orders] ([order_id])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[Orders] ([order_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[phieu_nhap_chi_tiet]  WITH CHECK ADD FOREIGN KEY([id_phieu_nhap])
REFERENCES [dbo].[phieu_nhap] ([id])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([book_id])
REFERENCES [dbo].[Books] ([book_id])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Saw_Book]  WITH CHECK ADD FOREIGN KEY([book_id])
REFERENCES [dbo].[Books] ([book_id])
GO
ALTER TABLE [dbo].[Saw_Book]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[User_Addresses]  WITH CHECK ADD  CONSTRAINT [FK_UserAddresses_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[User_Addresses] CHECK CONSTRAINT [FK_UserAddresses_User]
GO
ALTER TABLE [dbo].[Wish_List]  WITH CHECK ADD FOREIGN KEY([book_id])
REFERENCES [dbo].[Books] ([book_id])
GO
ALTER TABLE [dbo].[Wish_List]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Wishlist]  WITH CHECK ADD FOREIGN KEY([book_id])
REFERENCES [dbo].[Books] ([book_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Wishlist]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Payment status: Chưa thanh toán, Đã thanh toán, Hoàn tiền' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Orders', @level2type=N'COLUMN',@level2name=N'payment_status'
GO
